<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <!-- 开启驼峰命名：当数据库有user_id这样的参数，开启后会自动匹配java中的userId参数
        法一：mybatis的配置文件中配 -->
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

</configuration>