<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!-- 根据全类名查找相关的类 -->
<mapper namespace="com.atguigu.admin.mapper.AccountMapper">
    <!-- public Account getAccount(Long id); -->
    <select id="getAccount" resultType="com.atguigu.admin.bean.Account">
        select * from system_admin where id = #{id}
    </select>

</mapper>